body { color: rgb(116, 145, 165);}

.mon-bouton {
  background-image: url(discord);
  background-repeat: no-repeat;
  background-position: 10px center; /* Position de l'image (à gauche, centrée verticalement) */
  background-size: 20px 20px; /* Taille de l'image */
  padding-left: 40px; /* Espace pour ne pas superposer le texte sur l'image */
  height: 40px;
}

